header {
  height: 10%;
  text-align: left;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px #888888;
}
h2 {
  float: left;
  margin: 1.5% 0 0 5%;
  font-weight: lighter;
}
hero-search {
  float: right;
  position: absolute;
    right: 0px;
    top: 0px;
  z-index: 999;
  margin: 1.5% 5%;
}
nav{
  display: inline-table;
  width: 100%;
  text-align: center;
}
nav a {
  padding: 10px 10px;
  width: 10%;
  display: inline-block;
  text-decoration: none;
  border-bottom: 5px solid #c01818;
}
nav a:visited, a:link {
  color: #c01818;
}
nav a:hover {
  color: #333333;
  border-bottom: 5px solid #333333;
}
nav a.active {
  color: #333333;
  border-bottom: 5px solid #333333;
}
