header {
  margin: 0;
  padding: 2% 0 2% 15%;
}
section {
  text-align: center;
  padding-top: 10%;
}
[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2 {
  margin: 0;
}
h4 {
  position: relative;
}
.grid {
}
.col-1-4 {
}
.module {
  width: 20%;
  display: inline-grid;
  padding: 20px;
  text-align: center;
  color: #fff;
  max-height: 120px;
  min-width: 120px;
  background-color: #333333;
  border-radius: 2px;
}
.module:hover {
  background-color: #DDD;
  cursor: pointer;
  color: #c01818;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
