<header>
  <h2>My Heroes</h2>
</header>
<section>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero); gotoDetail()">
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>
  <div class="add-hero">
    <input #heroName placeholder="New hero"/>
    <button (click)="add(heroName.value); heroName.value=''">Add</button>
  </div>
</section>
